<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DKC3Randomizer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DKC3Randomizer.My.MySettings>
            <setting name="RomFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepLastSeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviousSeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RandoRomFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowBosses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowFriends" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReduceGimmicks" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="DeleteBobbingEllie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteSneekyWheels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteMurkyEllie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLLimited" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLLimitCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeKoins" serializeAs="String">
                <value>False</value>
            </setting>
        </DKC3Randomizer.My.MySettings>
    </userSettings>
</configuration>